body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #222222;
}

input {
  height: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  background: none;
  color: white;
  padding: 0 10px;
  outline: none ;
}

.enter {
  width: 100px;
  height: 30px;
  font-size: 12px;
  background: none;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  margin-left: 10px;
}

.enter:hover {
  background: whitesmoke;
  color: #222222;
  cursor: pointer;
}